.container
	- if current_user.friends_to_accept.present?
		%h5 Users waiting for acceptance.
		%ul
			- current_user.friends_to_accept.each do |f|
				%li
					= f.email
					= button_to 'Accept User', accept_user_path(f)
			
	- if current_user.users.present?
		.row
			.col-md-5.col-md-offset-1
				%h5 Your Friends:
				- current_user.users.each do |f|
					= f.email

	- else	
		%h4
			You're ugly! You don't have any Friends!