.container
			
	- if current_user.users.present?
		.col-md-5.col-md-offset-1{'style' => 'padding-top: 30px'}
			%h5{'style' => 'font-weight: bold'} Your Friends:
			%table.table
				- current_user.friends.where(accepted: false).each do |f|
					%tr
						- fr = User.find(f.friend.id)
						%td
							%h4= fr.email
						%td= fr.decorate.average_rating

	- else	
		%h4{'style' => 'padding-top: 30px'}
			You're ugly! You don't have any Friends!