.page-header
  %h1 Welcome
.container
  .row
    .col-sm-12.col-md-6
      .h3 Your collection
      %ul
        - current_user.collections.each do |c|
          %li= c.board_game.name
          \&nbsp;
          = link_to 'Delete', collection_path(c), method: :delete, class: 'btn btn-default'

    .col-sm-12.col-md-6
      .h3 Last reviews
      %ul
        - last_reviews.last(5).each do |r|
          %li= r.content
