
.container
  %h1 BoardGames
  .row
    .col-md-5.col-md-offset-1
      %ul
        - @board_games.each do |g|
          %li{'style' => 'list-style-type: none;'}
            %h4
              = g.name
    -#.col-md-5

  .row
    .col
      .col-md-5.col-md-offset-1
        %ul
          - User.all.order(created_at: :desc).limit(5) do |u|
            %li{'style' => 'list-style-type: none;'}
              %h4
                = u.email
