.container
  .row
    %table.table.table-responsive.table-hover
      %tr
        %th Name
        %th Description
        - if user_signed_in?
          %th Add Game


      - BoardGame.all.each do |game|
        %tr
          %td
            = game.name
          %td
            = game.description
          - if user_signed_in?
            %td= button_to 'Add', add_to_collection_board_game_path(game), method: :post
            - if board_game.user == current_user
              = link_to 'Edit', edit_board_game_path(game)



