.container
  .row
    %h1 Board games list
    %table.table.table-responsive.table-hover
      %tr
        %th Name
        %th Average rating
        - if user_signed_in?
          %th Add Game

      - board_games.each do |game|
        %tr
          %td
            =link_to game.name, board_game_path(game)
          %td
            = game.average_rating
          - if user_signed_in?
            %td= game.add_link(game, current_user)
