.container
  %h1 BoardGames
  .row
    %table.table.table-responsive.table-hover
      %tr
        %th Name
        %th Description
        - if user_signed_in?
          %th Add Game

      - board_games.each do |game|
        %tr
          %td
            =link_to game.name, board_game_path(game)
          %td
            = game.description
          - if user_signed_in?
            %td= game.add_link
