.form-group
  = form_for [board_game, review] do |f|
    = f.text_area :content, class: 'form-control'
    = f.number_field :rating, in: 1..5, class: 'form-control'
    = f.submit 'Add review', class: 'btn btn-primary'
